<!DOCTYPE html>
<html>

<head>
<title>Prikaz registrovanih korisnika</title>
<meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

	<style>
            body   {
                background-image: url(Images/loginback.jpg);
                height: 100%;
            }
            
            .h1 {
            padding : 10px;
            text-align : center;  
            }
            
            .search {
            padding : 5px;
            text-align : center;  
            }
            
           
            
            label {
		      
		        width: 250px;   
     		}
            
    </style>

</head>

<body>
	 <div class="welcome" id="regkorisnici-app">
			<nav class="navbar navbar-expand  fixed-top" style="background-color: #3E1D57; ">
                <h1><a  class="naslov"  class="navbar-brand" style="color: white ; font-family:Roboto">Registrovani korisnici</a></h1>
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item"><a href="administratorHome.html" class="nav-link" style="color: white; font-family:Roboto">Pocetna</a></li>
                        <li class="nav-item"><a href="sportskiobjekti.html" class="nav-link" style="color: white; font-family:Roboto">Sportski objekti</a></li>
                        <li class="nav-item"><a href="regkorisnici.html" class="nav-link" style="color: white; font-family:Roboto">Registrovani korisnici</a></li>
                        <li class="nav-item"><a href="registrationAdministrator.html" class="nav-link" style="color: white; font-family:Roboto">Registruj korisnika</a></li>
                        <li class="nav-item"><a href="javascript:window.localStorage.removeItem('jwt'); window.location = 'login.html';" class="nav-link" style="color: white; font-family:Roboto">Odjavi se</a></li>
                    </ul>
                </div>
		</nav>
		<br />
		<br />
		<br />
		<br />
	
	
		<div class="h1">
			<h1 style="color: white; font-family: Roboto">Pregled registrovanih korisnika:</h1>			
		</div>
		
		<div class="search">
			<label  style="color: white; font-family:Roboto" >Ime:</label>	
			<label  style="color: white; font-family:Roboto" >Prezime:</label>
			<label  style="color: white; font-family:Roboto" >Korisnicko ime:</label>	
			<label  style="color: white; font-family:Roboto" >Filtriranje uloga:</label>	
		</div>
		
		
		<div class="search">
			<input v-model:value="pretragaIme" type="textbox" style="width: 250px; height: 35px">  	
			<input v-model:value="pretragaPrezime" type="textbox" style="width: 250px; height: 35px">   
			<input v-model:value="pretragaKorisnickoIme" type="textbox" style="width: 250px; height: 35px">  	
			<select v-model:value="filtriranje" style="width: 250px; height: 35px; font-family:Roboto">
				<option value="svi">Svi</option>
                <option value="0">Kupac</option>
                <option value="1">Menadzer</option>
                <option value="2">Administrator</option>
                <option value="3">Trener</option>
            </select>				
		</div>
		
		<div class="search">
			<label  style="color: white; font-family:Roboto" >Sortiranje po imenu:</label>	
			<label  style="color: white; font-family:Roboto" >Sortiranje po prezimenu:</label>
			<label  style="color: white; font-family:Roboto" >Sortiranje po korisnickom imenu:</label>
			<label  style="color: white; font-family:Roboto" >Sortiraj po broju sakupljenih bodova:</label>		
		</div>
		
		<div class="search">	
                        <select v-model:value="sortiranje"  @change="sortirajPoImenu" style="width: 250px; height: 35px; font-family:Roboto">
                            <option disabled hidden value="">Sortiranje po imenu</option>
                            <option value="rastuceIme">Rastuce</option>
                            <option value="opadajuceIme">Opadajuce</option>
                        </select>
                        <select v-model:value="sortiranje"  @change="sortirajPoPrezimenu" style="width: 250px; height: 35px; font-family:Roboto">
                            <option disabled hidden value="">Sortiranje po prezimenu</option>
                            <option value="rastucePrezime">Rastuce</option>
                            <option value="opadajucePrezime">Opadajuce</option>
                        </select>
                        <select v-model:value="sortiranje"  @change="sortirajPoKorImenu" style="width: 250px; height: 35px; font-family:Roboto">
                            <option disabled hidden value="">Sortiranje po korisnickom imenu</option>
                            <option value="rastuceKorIme">Rastuce</option>
                            <option value="opadajuceKorIme">Opadajuce</option>
                        </select>
                        <select v-model:value="sortiranje"  @change="sortirajPoBodovima" style="width: 250px; height: 35px; font-family:Roboto">
                            <option disabled hidden value="">Sortiraj po broju sakupljenih bodova</option>
                            <option value="rastuce">Rastuce</option>
                            <option value="opadajuce">Opadajuce</option>
                        </select>
        </div>
	
		<div  id="regkorisnici">
			<table bgcolor="#DEF7F9" class="table" border="2" id="tabela">
				<thead>
					<tr bgcolor="#309AF9">
						<th>Korisnicko ime</th>
						<th>Sifra</th>
						<th>Ime</th>
						<th>Prezime</th>
						<th>Pol</th>
						<th>Uloga</th>
						<th>Aktivan/Neaktivan</th>
						<th>Promeni stanje</th>
						<th>Broj sakupljenih bodova</th>
				</thead>
	
				<tr v-for="p in regkorisniciFilter">
					<td>{{p.korisnickoIme }}</td>
					<td>{{p.sifra }}</td>
					<td>{{p.ime }}</td>
					<td>{{p.prezime }}</td>
					<td>{{prikaziPol(p.pol) }}</td>
					<td><pre>{{ prikaziUlogu(p.uloga) }}</pre></td>
					<td>{{ prikaziAktivnost(p.aktivan) }}</td>
					<td width=200><button type="button" v-on:click="changeActivity(p.korisnickoIme)"  class="btn btn-primary">Promeni stanje</button></td>
					<td v-if="p.uloga =='0' ">{{p.sakupljeniBodovi}}</td>
				</tr>
			</table>
		</div>
	</div>
	 	<script src="./js/vue.js"></script>
        <script src="./js/axios.js"></script>
        <script src="./js/regkorisnici.js"></script>
</body>

</html>