<!DOCTYPE html>
<html>

<head>
<title>Prikaz sportskih objekata</title>
<meta charset="UTF-8">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
	integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
	crossorigin="anonymous">

<!-- CSS only -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
	crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
	crossorigin="anonymous"></script>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
	
	<style>
            body   {
                background-image: url(Images/loginback.jpg);
                height: 100%;
            }
            
            .h1 {
            padding : 10px;
            text-align : center;  
            }
            
            .search {
            padding : 5px;
            text-align : center;  
            }
            
           
            
            label {
		      
		        width: 250px;   
     		}
            
    </style>

</head>

<body>
	 <div class="welcome" id="sportski-objekti-app">
			<nav v-if="uloga === '0'" class="navbar navbar-expand  fixed-top" style="background-color: #3E1D57; ">
                <h1><a  class="naslov"  class="navbar-brand" style="color: white ; font-family:Roboto">Sportski objekti</a></h1>
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item"><a href="kupacHome.html" class="nav-link" style="color: white; font-family:Roboto">Početna</a></li>          
                        <li class="nav-item"><a href="sportskiobjekti.html" class="nav-link" style="color: white; font-family:Roboto">Sportski objekti</a></li>
                        <li class="nav-item"><a href="trainingKupac.html" class="nav-link" style="color: white; font-family:Roboto">Treninzi</a></li>
                        <li class="nav-item"><a href="clanarine.html" class="nav-link" style="color: white; font-family:Roboto">Clanarine</a></li>
                        <li class="nav-item"><a href="javascript:window.localStorage.removeItem('jwt'); window.location = 'login.html';" class="nav-link" style="color: white; font-family:Roboto">Odjavi se</a></li>
                    </ul>
                </div>
        </nav>
        <nav v-else-if="uloga === '1'" class="navbar navbar-expand  fixed-top" style="background-color: #3E1D57; ">
                <h1><a  class="naslov"  class="navbar-brand" style="color: white ; font-family:Roboto">Sportski objekti</a></h1>
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item"><a href="menadzerHome.html" class="nav-link" style="color: white; font-family:Roboto">Početna</a></li>     
                        <li class="nav-item"><a href="sportskiobjekti.html" class="nav-link" style="color: white; font-family:Roboto">Sportski objekti</a></li>    
                        <li class="nav-item"><a href="sadrzaj.html" class="nav-link" style="color: white; font-family:Roboto">Sadrzaj</a></li>  
                        <li class="nav-item"><a href="trainingManager.html" class="nav-link" style="color: white; font-family:Roboto">Treninzi</a></li>                                          
                        <li class="nav-item"><a href="javascript:window.localStorage.removeItem('jwt'); window.location = 'login.html';" class="nav-link" style="color: white; font-family:Roboto">Odjavi se</a></li>
                    </ul>
                </div>
        </nav>
         <nav v-else-if="uloga === '2'" class="navbar navbar-expand  fixed-top" style="background-color: #3E1D57; ">
                <h1><a  class="naslov"  class="navbar-brand" style="color: white ; font-family:Roboto">Sportski objekti</a></h1>
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item"><a href="administratorHome.html" class="nav-link" style="color: white; font-family:Roboto">Pocetna</a></li>
                        <li class="nav-item"><a href="sportskiobjekti.html" class="nav-link" style="color: white; font-family:Roboto">Sportski objekti</a></li>
                        <li class="nav-item"><a href="regkorisnici.html" class="nav-link" style="color: white; font-family:Roboto">Registrovani korisnici</a></li>
                        <li class="nav-item"><a href="registrationAdministrator.html" class="nav-link" style="color: white; font-family:Roboto">Registruj korisnika</a></li>
                        <li class="nav-item"><a href="javascript:window.localStorage.removeItem('jwt'); window.location = 'login.html';" class="nav-link" style="color: white; font-family:Roboto">Odjavi se</a></li>
                    </ul>
                </div>
        </nav>
         <nav v-else-if="uloga === '3'" class="navbar navbar-expand  fixed-top" style="background-color: #3E1D57; ">
                <h1><a  class="naslov"  class="navbar-brand" style="color: white ; font-family:Roboto">Sportski objekti</a></h1>
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item"><a href="trenerHome.html" class="nav-link" style="color: white; font-family:Roboto">Početna</a></li>
                        <li class="nav-item"><a href="sportskiobjekti.html" class="nav-link" style="color: white; font-family:Roboto">Sportski objekti</a></li>
                        <li class="nav-item"><a href="trainingTrener.html" class="nav-link" style="color: white; font-family:Roboto">Treninzi</a></li>                      
                        <li class="nav-item"><a href="javascript:window.localStorage.removeItem('jwt'); window.location = 'login.html';" class="nav-link" style="color: white; font-family:Roboto">Odjavi se</a></li>
                    </ul>
                </div>
        </nav>
        <nav v-else class="navbar navbar-expand  fixed-top" style="background-color: #3E1D57; ">
                <h1><a  class="naslov"  class="navbar-brand" style="color: white ; font-family:Roboto">Uloguj se na profil</a></h1>
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item"><a href="index.html" class="nav-link" style="color: white; font-family:Roboto">Početna</a></li>
                        <li class="nav-item"><a href="sportskiobjekti.html" class="nav-link" style="color: white; font-family:Roboto">Sportski objekti</a></li>
                        <li class="nav-item"><a href="login.html" class="nav-link" style="color: white; font-family:Roboto">Uloguj se</a></li>
                        <li class="nav-item"><a href="registration.html" class="nav-link" style="color: white; font-family:Roboto">Registruj se</a></li>                                                         
                    </ul>
                </div>
        </nav>
		<br />
		<br />
		<br />
		<br />
	
	
		<div class="h1">
			<h1 style="color: white; font-family: Roboto">Pregled sportskih objekata:</h1>			
		</div>
		
		<div class="search">
			<label  style="color: white; font-family:Roboto" >Naziv:</label>	
			<label  style="color: white; font-family:Roboto" >Tip:</label>
			<label  style="color: white; font-family:Roboto" >Lokacija:</label>
			<label  style="color: white; font-family:Roboto" >Prosecna ocena:</label>		
		</div>
		<div class="search">
			<input v-model:value="pretragaNaziv" type="textbox" style="width: 250px; height: 35px">  	
			<select v-model:value="pretragaPoTipu" style="width: 250px; height: 35px; font-family:Roboto " >
                        <option  disabled hidden ">Izaberite tip:</option>
                        <option value="Teretana">Teretana</option>
                        <option value="Bazen">Bazen</option>
                        <option value="SportskiCentar">Sportski centar</option>
                        <option value="PlesniStudio">Plesni studio</option>
                        <option value="Drugo">Ostalo</option>
                        <option selected value="5">Sve</option>
            </select>  
			<input v-model:value="pretragaLokacija" type="textbox" style="width: 250px; height: 35px">  
			<select v-model:value="pretragaProsecnaOcena" style="width: 250px; height: 35px; font-family:Roboto " >
                        <option  disabled hidden ">Izaberite prosecnu ocenu:</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option selected value="6">Sve</option>
            </select> 		
		</div>
		
		<div class="search">
		</div>
	
		<div  id="sportskiobjekti">
			<table bgcolor="#DEF7F9" class="table" border="2" id="tabela">
				<thead>
					<tr bgcolor="#309AF9">
						<th>Naziv</th>
						<th>Status</th>
						<th>Tip objekta</th>
						<th>Sadrzaj</th>
						<th>Lokacija</th>
						<th>Logo</th>
						<th>ProsecnaOcena</th>
						<th>Radno Vreme</th>
					</tr>
				</thead>
	
				<tbody>
					<tr v-for="p in filtriraniObjekti">
						<td>{{p.naziv }}</td>
						<td>{{p.status == 0 ? 'Ne radi' : 'Radi' }}</td>
						<td>{{p.tipObjekta }}</td>
						<td> <div v-for="s of p.sadrzaj">{{s}}</div></td>
						<td><pre>{{ prikaziAdresu(p) }}</pre></td>
						<td><img :src="prikaziSliku(p.slika)" class="img-thumbnail" width="50" height="50"></td>
						<td>{{p.prosecnaOcena }}</td>
						<td>{{p.radnoVreme }}</td>
					</tr>
				</tbody>
			</table>
		</div>
		
		<div class="tablebutton">
                    <button  v-if="uloga === '2'" onclick="window.location.href='dodajSportskiObjekat.html'"  class="btn btn-outline-light">Dodaj novi objekat</button>
        </div>
	</div>
	<script src="js/vue.js"></script>
	<script src="js/axios.js"></script>
	<script src="js/sportskiobjekti.js"></script>
</body>

</html>