<!DOCTYPE html>
<html>

<head>
	<title>Prikaz sportskih objekata</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="styles.css">
	<script src="jquery-3.3.1.min.js"></script>
</head>

<body>
	<div id ="sportskiobjekti">
		<h3>{{title}}</h3>

		<table border="1" id="tabela">
			<thead>
				<tr bgcolor="#E9F7F8">
					<th>Naziv</th>
					<th>Status</th>
					<th>Tip objekta</th>
					<th>Sadrzaj</th>
					<th>Lokacija</th>
					<th>ProsecnaOcena</th>
					<th>Radno Vreme</th>
					<th>&nbsp;</th>
					<th>&nbsp;</th>
				</tr>
			</thead>

			<tr v-for="p in sportskiobjekti">
				<td>{{p.name }}</td>
				<td>{{p.status }}</td>
				<td>{{p.type }}</td>
				<td>{{p.sadrzaj }}</td>
				<td>{{p.lokacija }}</td>
				<td>{{p.ocena }}</td>
				<td>{{p.vreme }}</td>
				<td><button  v-on:click="editProduct(p)">Izmeni</button></td>
				<td><button  v-on:click="deleteProduct(p)">Obrisi</button></td>
			</tr>
		</table>

		<p><button  v-on:click="showForm()">Dodaj</button></p>

		<form id="forma" v-bind:hidden="mode=='BROWSE'" @submit='createOrEditProduct'>
			<table>
				<tr>
					<td>Naziv</td>
					<td><input type="text" name="name" v-model="selectedProduct.name"></td>
				</tr>
				<tr>
					<td>Status</td>
					<td><input type="text" name="status" v-model="selectedProduct.status"></td>
				</tr>
				<tr>
					<td>Tip objekta</td>
					<td><input type="text" name="type" v-model="selectedProduct.type"></td>
				</tr>
				<tr>
					<td>Sadrzaj</td>
					<td><input type="text" name="sadrzaj" v-model="selectedProduct.sadrzaj"></td>
				</tr>
				<tr>
					<td>Lokacija</td>
					<td><input type="text" name="lokacija" v-model="selectedProduct.lokacija"></td>
				</tr>
				<tr>
					<td>ProsecnaOcena</td>
					<td><input type="number" name="ocena" v-model="selectedProduct.ocena"></td>
				</tr>
				<tr>
					<td>Radno Vreme</td>
					<td><input type="text" name="vreme" v-model="selectedProduct.vreme"></td>
				</tr>
				<tr>
					<td><input type="submit" value="Pošalji"></td>
				</tr>
			</table>
			<p id="error" >{{error}}</p>
		</form>
	</div>
	<script src="js/vue.js"></script>
	<script src="js/axios.js"></script>
	<script src="app/app.js"></script>
</body>

</html>