<!DOCTYPE html>
<html>

<head>
	<title>Web shop</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="styles.css">
	<script src="jquery-3.3.1.min.js"></script>
	<!-- CSS only -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
	<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</head>

<body>
	<div id ="products">
		<h3>{{title}}</h3>

		<table border="1" id="tabela">
			<thead>
				<tr bgcolor="#E9F7F8">
					<th>Naziv</th>
					<th>Status</th>
					<th>Tip</th>
					<th>Sadrzaj</th>
					<th>Lokacija</th>
					<th>ProsecnaOcena</th>
					<th>RadnoVr</th>
				</tr>
			</thead>

			<tr v-for="p in products">
				<td>{{p.name }}</td>
				<td>{{p.status }}</td>
				<td>{{p.type }}</td>
				<td>{{p.sadrzaj }}</td>
				<td>{{p.lokacija }}</td>
				<td>{{p.ocena }}</td>
				<td>{{p.vreme }}</td>
				<td><button  v-on:click="editProduct(p)">Izmeni</button></td>
				<td><button type="button" class="btn-close" aria-label="Close" v-on:click="deleteProduct(p)"></button></td>
			</tr>
		</table>

		<p><button  v-on:click="showForm()">Dodaj</button></p>

		<form id="forma" v-bind:hidden="mode=='BROWSE'" @submit='createOrEditProduct'>
			<table>
				<tr>
					<td>Naziv</td>
					<td><input type="text" name="name" v-model="selectedProduct.name"></td>
				</tr>
				<tr>
					<td>Status</td>
					<td><input type="text" name="status" v-model="selectedProduct.status"></td>
				</tr>
				<tr>
					<td>Tip</td>
					<td><input type="text" name="type" v-model="type"></td>
				</tr>
				<tr>
					<td>Sadrzaj</td>
					<td><input type="text" name="sadrzaj" v-model="selectedProduct.sadrzaj"></td>
				</tr>
				<tr>
					<td>Lokacija</td>
					<td><input type="text" name="lokacija" v-model="selectedProduct.lokacija"></td>
				</tr>
				<tr>
					<td>ProsecnaOcena</td>
					<td><input type="text" name="ocena" v-model="selectedProduct.ocena"></td>
				</tr>
				<tr>
					<td>RadnoVr</td>
					<td><input type="text" name="vreme" v-model="selectedProduct.vreme"></td>
				</tr>
				<tr>
					<td><input type="submit" value="Pošalji"></td>
				</tr>
			</table>
			<p id="error" >{{error}}</p>
		</form>
	</div>
	<script src="js/vue.js"></script>
	<script src="js/axios.js"></script>
	<script src="app/app.js"></script>
</body>

</html>